# ---------- Node ----------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------- React ----------
Frontend/node_modules/
Frontend/node_modules/.cache/
Frontend/build/

# ---------- Python ----------
__pycache__/
*.pyc

# ---------- Environment ----------
.env

# ---------- Runtime Data ----------
Backend/users.csv
Backend/history.csv

# ---------- OS ----------
.DS_Store
Thumbs.db
