/* LoadingScreen.css */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8; /* Off-white */
  animation: fadeIn 1s ease-in-out;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
  animation: bounce 2s infinite;
}

.loading-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  animation: fadeText 2s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes fadeText {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
